.textarea-wrapper {
    display: flex;
    flex-direction: column;

    label {
        line-height: 18px;
        margin-bottom: 2px;
        font-family: 'Montserrat', sans-serif;
    }

    textarea {
        border: 1px solid #D8D6DE;
        border-radius: 5px;

        font-size: 12px;
        padding: 8px 15px;
    }
}