.textarea-wrapper {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;

    label {
        line-height: 18px;
        margin-bottom: 2px;
        font-family: 'Montserrat', sans-serif;
    }

    textarea {
        font-family: 'Montserrat', sans-serif;
        border: 1px solid #D8D6DE;
        border-radius: 5px;
        outline: none;
        min-height: 132px;
        max-height: 300px;
        min-width: 100%;
        max-width: 100%;

        font-size: 12px;
        padding: 15px;

        &::placeholder {
            color: '#B9B9C3';
            font-size: 12px;
        }
    }
}

.input-error {
    border: 1px solid #EA5455 !important;

    &::placeholder {
        color: #EA5455 !important;
    }
}

.body-error-message {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #EA5455;
}